{% extends 'InternsOnboardMain/base.html' %}
{% load crispy_forms_tags  %}
{% block content %}
    <h2>
    {% if user.userprofile.usertype == 's' %}
        Show list of internships available.
    {% elif user.userprofile.usertype == 'ic' %}
      show list of internships added and button to add
    {% elif user.userprofile.usertype == 'h' %}
        Show list of students along with the company they are interns at.
    {% else %}
        Show default home page.
    {% endif %}
    </h2>
{% endblock content%}
